<p id="notice"><%= notice %></p>

<h1>Listing Footprints</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @footprints.each do |footprint| %>
      <tr>
        <td><%= link_to 'Show', footprint %></td>
        <td><%= link_to 'Edit', edit_footprint_path(footprint) %></td>
        <td><%= link_to 'Destroy', footprint, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Footprint', new_footprint_path %>
