<%= form_for(@note, :html => {:class => 'form-horizontal'}) do |f|  %>
  <% if @note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% @note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <table class="table table-striped">
        <tr><td><%= label_tag(:title, "TITLE") %></td>
        <td><%= f.text_field :title,placeholder: "Enter title" %></td></tr>

        <tr><td><%= label_tag(:city_name, "CITY") %></td>
        <td><%= f.text_field :city_name,placeholder: "Enter city" %></td></tr>

        <tr><td><%= label_tag(:content, "NOTE") %></td>
        <td><%= f.text_area :content ,cols:60,rows:5,placeholder: "Enter Note"%></td></tr>

        <tr><td><%= label_tag(:tags, "TAGS") %></td>
        <td><%= f.text_field :tags %></td></tr>
    </table>
  </div>
  <div class="actions">
    <%= f.submit  class: 'btn btn-info'%>
  </div>
<% end %>
