<div>

  <br>
  <br><br>

  <p>
  <div class="col-md-7 column">
    <div class="panel panel-primary">
      <div class="panel-heading"> <%= note.title  %></div>
      <div class="panel-body"> <%= note.content %></div>
    </div>
  </div>
  </p>
  <%= link_to 'Show', note %>
  <%= link_to 'Edit', edit_note_path(note) %>
  <%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>