<div id="wrapper">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a href="#">
          Hi 
        </a>
      </li>
      <li>
        <%= link_to "News Feed", footprint_path %>
      </li>
      <li>
        <%= link_to "My Notes", new_note_path %>
      </li>
      <li>
        <%= link_to 'Check my profile', current_user %>
      </li><li>
      <%= link_to "Edit Profile", edit_user_registration_path %>
    </li>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
      <div>
        <%= render 'form' %>
      </div>

    </div>
  </div>
    </div>
  </div>
<!-- /#page-content-wrapper -->



