<p id="notice"><%= notice %></p>
<%= render :partial =>@note %>

<!--  <button type="submit" formaction=edit_note_path(@note) class="btn btn-primary">Edit</button> -->
<!--
<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
-->
<div class="container"></div>
<div class="page-header col-sm-offset-2">
<h3 style="alignment: left" >Comments</h3>
</div>
<div class="text-center">
  <%=will_paginate @noteComments , renderer: BootstrapPagination::Rails%>
</div>
<div id="comments" class="col-sm-offset-2">
<%= render :partial => @noteComments.includes(:user) %>
<div class="col-md-15 column">
  <div class="page-header">
    <h3>Leave your comment</h3>
  </div>
<%= form_for [@note, Comment.new] do |f| %>
      <div style="width:500px; padding:10px;margin:10px;">
        <div class="status-upload" style="width:500px; padding:10px;margin:10px;">
      <%= image_tag @user.picture_url.to_s , :class => "img-thumbnail" , :style => "width:50px"  if @user.picture? %>
      <b><%= @user.first_name %> <%= @user.last_name %></b>
      <br/><br/><%= f.text_area :body, :placeholder=>"Share your Thoughts.." , style:"width:400px"%><br/><br/>
      <%= f.submit "Add", class:"btn btn-success green"%>
</div></div>

<% end %></div></div>