<%= form_for(@blog) do |f| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% @blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
      <table class="table table-striped">
        <tr><td><%= label_tag(:title, "Name of your blog") %></td>
          <td><%= f.text_field :title,placeholder: "Enter title" %></td></tr>
        <tr><td><%= label_tag(:body, "Describe in few words") %></td>
          <td><%= f.text_area :body,placeholder: "Say a few words" %></td></tr>
        <tr><td><%= label_tag(:link, "Link it") %></td>
          <td><%= f.text_field :link,placeholder: "https://myAwesomeBlog.com" %></td></tr>
        <tr><td><%= label_tag(:city_name, "City it captures") %></td>
          <td><%= f.text_field :city_name,placeholder: "Enter city name" %></td></tr>
        <tr><td><%= label_tag(:picture, "Upload your adventure") %></td>
          <td><%= f.file_field :picture %> </td></tr>
        <tr><td><%= label_tag(:author, "My blogger name") %></td>
          <td><%= f.text_field :author,placeholder: "The awesome travel blogger" %> </td></tr>
      </table>
    </div>
    <div class="actions">
      <%= f.submit  class: 'btn btn-info'%>
    </div>
<% end %>