<p id="notice"><%= notice %></p>

<%= render :partial => @blog %>
<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>

<h2>Comments</h2>
<div id="comments">
  <%= render :partial => @blog.blog_comments %>
</div>

<%= form_for [@blog, BlogComment.new] do |f| %>
    <p>
      <%= f.label :body, "New comment" %><br/>
      <%= f.text_area :body %>
    </p>
    <p><%= f.submit "Add comment" %></p>
<% end %>
