<div class="center jumbotron">
  <h1>Howdy, <%= @user.first_name %></h1>

  <h2>
    This is my user profile
  </h2>

</div>




    <div>Name: <%= @user.first_name %> <%= @user.last_name %><br /></div>
    <div> Date of birth: <%= @user.date_of_birth%>  </div>



<%= link_to "Back", :back %>

