<%= render :partial => 'cities/city' %>
<div class="text-center">
  <%=will_paginate @notes , renderer: BootstrapPagination::Rails%>
</div>
<%= render :partial => @notes %>
<div class="text-center">
  <%=will_paginate @blogs , renderer: BootstrapPagination::Rails%>
</div>
<%= render :partial => @blogs %>