<div id="wrapper">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a href="#">
          Hi <%= @user.first_name %>
        </a>
      </li>
      <li>
        <%= link_to "News Feed", footprint_path %>
      </li>
      <li>
        <%= link_to "My Notes", new_note_path %>
      </li>
      <li>
      <%= link_to 'Check my profile', current_user %>
      </li><li>
      <%= link_to "View Profile", edit_user_registration_path %>
    </li>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="center jumbotron vertical-center">
            <form class = "form-horizontal">
              <div class="input-group input-group-lg">
                <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
                <input type="text" class="form-control" placeholder="Discover new places,share expereinces,meet people" aria-describedby="sizing-addon1">
              </div><br/>
              <%= link_to "Search", '#', class: "btn btn-lg btn-primary", type: "submit" %>

            </form>

          </div>
        </div>


      </div>
        </div>
      </div>
    </div>