<div class="center jumbotron">
  <h1>Welcome to the Sample App</h1>

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a href="#">
          Hi <%= @user.first_name %>
        </a>
      </li>
      <li>
        <a href="#">News Feed</a>
      </li>
      <li>
        <%= link_to "My Notes", notes_path %>
      </li>

    </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="center jumbotron vertical-center">
            <form class = "form-horizontal">
              <div class="input-group input-group-lg">
                <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
                <input type="text" class="form-control" placeholder="Discover new places,share expereinces,meet people" aria-describedby="sizing-addon1">
              </div>
              <%= link_to "Search", '#', class: "btn btn-lg btn-primary", type: "submit" %>

            </form>

          </div>
        </div>

          <%= link_to image_tag("rails.png", alt: "Rails logo"),
                      'http://rubyonrails.org/' %>
        </div>
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->
<%= link_to "Check my profile", current_user %>

<%= link_to "View Profile", edit_user_registration_path %>

</div>
